<% include partials/header %>

<div id="landscape">
	<div class="container-fluid">
		<div class="row">
			<div id="side-bar" class="col-2">
				<div class="add-location">
					<a href="/map/new">
					<i id="globe-btn" class="fas fa-globe-americas"></i>
					<p>
						Add a country
					</p>
					</a>
				</div>
				<% if(!currentUser){ %>
				<h3>
					Please 
					<a href="/login">Login</a>
					or
					<a href="/register">Sign Up</a>
				</h3>				
				<% } else { %>
				<h3>
					Hi, <%= currentUser.name %>
				</h3>
				
				<div class="logout-button">
					<a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
				</div>
				<% } %>
			</div>
			<!-- Rendering the google GeoChart map-->
			<div id="map-div" class="col-10">
				<div id="regions_div"></div>
			</div>
		</div>
	</div>
</div>

<div id="portrait">

<!-- Navbar -->
	<nav id="nav-bar" class="navbar navbar-expand-sm navbar-dark" style="background-color: #7400a6">
			  <a class="navbar-brand" href="/">A</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/map/new">Add a country</a>
					</li>
				</ul>
				<hr id="nav-devider">
				<ul class="navbar-nav">
					<% if(currentUser){ %>
					<li class="nav-item"><a class="nav-link" href="#">Signed In as <%= currentUser.name %></a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					<% } %>	
				</ul>
			  </div>
		</nav>
	
	<div class="container">
			<h4>
				There are <span>195</span> countries in the world	
			</h4>
			<h4>
				I've been to 
					<% var count = 0; %>
					<% for ( i = 0; i < locations.length; i++){ %>
					<% count++; %>
					<% } %>
					<span><%= count %></span>
			</h4>
			<h4>
				That is
				<% var countriesPercent = Math.round(100 * (count/195)) %>
				<span><%= countriesPercent %>%</span> of countries explored
			</h4>
			<h4>
				<% var countriesLeft = 195-count %>
				<span><%= countriesLeft %></span> left for me to visit
			</h4>

		<h3>
			Explored countries:
		</h3>
		
		<ul class="list-group list-group-flush">
			<% locations.forEach(function(location){ %>
			<div>
				<li class="list-group-item"><%= location.country %>
					<div class="country-delete">
						<form class="deleteForm" onclick="return confirm ('Are you sure you want to delete <%= location.country %>?')" action="/map/<%= location._id %>?_method=DELETE" method="POST">
								<input type="submit" class="btn btn-sm btn-outline-danger" value="x">
						</form>
					</div>
				</li>
			</div>
			<% }) %>
		</ul>
	</div>
</div>

<!-- Google GeoChart API -->
<script type="text/javascript">
window.onorientationchange = function() { 
        var orientation = window.orientation; 
            switch(orientation) { 
                case 0:
                case 90:
                case -90: window.location.reload(); 
                break; } 
    };
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {
		'packages':['geochart'],
		'mapsApiKey': '<%= process.env.GOOGLEAPI %>'
	});
	google.charts.setOnLoadCallback(drawRegionsMap);

	function drawRegionsMap() {
		var data = google.visualization.arrayToDataTable([
		  ['Country'],
			<% locations.forEach(function(location) { %>
				['<%= location.country %>'],
			<% }); %>
		]);

		var options = {};

		var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

		chart.draw(data, options);
	}
</script>
		
<% include partials/footer %>