<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script type="text/javascript" src="javascript/script.js"></script>
		<script type="text/javascript" src="jquery-1.4.2.min.js"></script>
		<script src="https://kit.fontawesome.com/e042c340d4.js" crossorigin="anonymous"></script>
		
		<meta
        	name="apple-mobile-web-app-capable"
        	content="yes"
        />
		<meta
        	name="apple-mobile-web-app-status-bar-style"
        	content="black"
        />
		<meta
        	name="viewport"
        	content="width=device-width"
        />
 
		<!-- Google GeoChart API -->
		<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD4G8iqHb0uqvI2fWVyEYNJHOzQvVMjKng'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
		
      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country'],
			<% locations.forEach(function(location) { %>
				['<%= location.country %>'],
			<% }); %>
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
		</script>
	</head>
	<body>

<div id="landscape">
	<div class="container-fluid">
		<div class="row">
			<div id="side-bar" class="col-2">
				<div class="add-location">
					<a href="/map/new">
					<i id="globe-btn" class="fas fa-globe-americas"></i>
					<p>
						Add a country
					</p>
					</a>
				</div>
				<% if(!currentUser){ %>
				<h3>
					Please 
					<a href="/login">Login</a>
					or
					<a href="/register">Sign Up</a>
				</h3>				
				<% } else { %>
				<h3>
					Hi, <%= currentUser.username %>
				</h3>
				<div class="logout-button">
					<a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
				</div>
				<% } %>
			</div>
			<div id="map-div" class="col-10">
				<div id="regions_div"></div>
			</div>
		</div>
	</div>

				<!-- Rendering the google GeoChart map-->
	
	<div id="portrait">
		<div class="container">
			<!-- User label -->
			<div class="ui blue label">
			  <i class="user circle icon"></i> <%= currentUser.username %>
			</div>
				<h4>
					There are 195 countries in the world	
				</h4>
				<h4>
					I visited 
						<% var count = 0; %>
						<% for ( i = 0; i < locations.length; i++){ %>
						<% count++; %>
						<% } %>
						<%= count %>
					 countries
				</h4>
				<h4>
					<% var countriesLeft = 195-count %>
					<%= countriesLeft %> countries left for me to visit
				</h4>
				<h4>
					<% var countriesPercent = Math.round(100 * (count/195)) %>
					<%= countriesPercent %>% of countries explored
				</h4>
			<h3>
				Countries I've been to:
			</h3>	
			<ul>
				<% locations.forEach(function(location){ %>
					<li> <%= location.country %>
						<form class="deleteForm" action="/map/<%= location._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger"><i class="close icon"></i></button>
						</form>
					</li>
				<% }); %>

			</ul>
		</div>
	</div>




<% include partials/footer %>